.navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;    
}
.navbar h3{
    color:red;
}
.links{
    align-items: center;
    margin: auto;
}
.navbar a{
    margin-right: 30px;
    text-decoration: none;
    padding: 6px;
    cursor:pointer;
}
.navbar a :hover{
    color: red;
}
.search{
    border-radius: 6px;
    
}
.btn{
    border-radius: 5px;
    border: 1px solid white;
    margin: 3px;
    background: black;
    color: white;
    cursor: pointer;
}